Flask==2.0.2
Flask_Login==0.5.0
Flask_SocketIO==5.1.1
inflection==0.5.1
Jinja2==3.0.3
munch==2.5.0
pdfkit==1.0.0
pymongo==4.0.1
python_dateutil==2.8.2
pytz==2021.3
requests==2.27.1
selenium==4.1.0
socketIO_client==0.7.2
watchdog==2.1.6
gunicorn
dnspython==2.1.0
numpy
pandas
Werkzeug~=2.0.0
